<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_loguin.css') }}">
</head>
<body>
    <header>

    </header>
    <section id="perfil">
        <div id="imginfo">
            <div id="imgperfil"></div>
            <div id="infob">
                <p id="postagems">00 <br>postagems</p>
                <p id="seguidores">100</br>seguidores</p>
                <p id="seguindo">00 <br>seguindo</p>
            </div>
        </div>
        <div>
            <p id="nome">{{nome}}</p>
            <p id="bio">bio</p>
        </div>
    </section>
    <section id="conteudo">

    </section>
    <footer>

    </footer>
</body>
</html>